.box {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 5px;
    background-color: white;
} 

.boxes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}